body {
    background-color: #f7f7f7;
    margin: 0px;
}

#root {
    height: 100vh;
    font-family: sans-serif;
}

.indexTitle {
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 20px 0px;
    background-color: #007193;
    color: #ebe8e2;
}

.index-content {
    width: 100%;
    height: calc(100% - 125px);
}

.content-column {
    width: 33.3%;
    height: 100%;
    float: left;
}

.column-title {
    position: relative;
    left: 140px;
    top: 10px;
    width: max-content;
    font-size: 22px;
    border-bottom: solid 1px #2a3a44;
    color: #2a3a44;
}

#generateButton {
    margin: auto;
    width: 150px;
    height: 30px;
    background-color: #007193;
    text-align: center;
    line-height: 30px;
    color: #ebe8e2;
    cursor: pointer;
}

#generateButton:hover {
    background-color: #006173;
    color: #ebe8e2;
}